# Ignore Python virtual environment
env/

# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore log files
*.log

# Ignore API keys or configuration files
config.json
secrets.json.DS_Store
.DS_Store
