body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('assets/USDA_FOODS.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 20px; /* Increased padding for wider navigation bar */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: #555;
    color: #fff;
    cursor: pointer;
}

.section {
    padding: 50px 20px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 80%;
    max-width: 900px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: #222;
}

p {
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}